out/main.aux
out/main.dvi
out/main.fdb_latexmk
out/main.fls
out/main.log
out/main.pdf
out/main.synctex.gz
out/03_command1.aux
out/03_command1.dvi
out/03_command1.fdb_latexmk
out/03_command1.fls
out/03_command1.log
out/03_command1.pdf
out/03_command1.synctex.gz
